<!-- src/app/update-metadata/update-metadata.component.html -->

<div class="heading">Update Metadata</div>

<form>
  <div>
    <input type="text" placeholder="Enter Film ID" [(ngModel)]="filmId" />
  </div>
  <div>
    <input type="text" placeholder="Enter Title" [(ngModel)]="metadata.title" />
  </div>
  <div>
    <textarea placeholder="Enter Description" [(ngModel)]="metadata.description"></textarea>
  </div>
  <div class="button-container">
    <button (click)="onUpdate()">
      <span class="icon">
        <i class="fas fa-save"></i>
      </span>
      Save Changes
    </button>
  </div>
</form>
