<!-- src/app/get-metadata/get-metadata.component.html -->

<!-- src/app/components/film-list/film-list.component.html -->
<div *ngFor="let film of films" class="film-item">
  <h2>{{ film.title }}</h2>
  <p>Director: {{ film.director }}</p>
  <p>Actors: {{ film.actors }}</p>
  <p>Year: {{ film.year }}</p>
  <p>Description: {{ film.description }}</p>
  <button (click)="onDelete(film.film_id)">Delete</button>
  <button (click)="onUpdate(film.film_id)">Update</button>
  <button (click)="onDownload(film.film_id)">Download</button>
  <button (click)="onReviewSubmit(film.film_id)">Submit a review</button>


</div>

